{%  extends 'includes/admin-header.html'%}
{%load staticfiles%}
{%block title_block%}Admin Page{%endblock%}
{% block body %}

            <!--== BODY INNER CONTAINER ==-->
            <div class="sb2-2">
                <!--== breadcrumbs ==-->
                <div class="sb2-2-2">
                    <ul>
                        <li><a href="/"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
                        </li>
                        <li class="active-bre"><a href="#"> About Menu</a>
                        </li>
                        <li class="page-back"><a href="/"><i class="fa fa-backward" aria-hidden="true"></i> Back</a>
                        </li>
                    </ul>
                </div>
				
                <div class="sb2-2-3">
                    <div class="row">
                        <!--== Listing Enquiry ==-->
                        <div class="col-md-12">
                            <div class="box-inn-sp admin-form">
                                <div class="inn-title">
                                    <h4>Mega Menu(max select 16 pages)</h4>
                                    <p>Education is about teaching, learning skills and knowledge.</p>
                                </div>
								<div class="bor ad-cou-deta-h4">
                                <form>
									<h4>Mega Menu 1:</h4>
									<div class="row">
										<div class="input-field col s12">
											<input type="text" class="validate" required="">
											<label>Title:</label>
										</div>
										<div class="input-field col s12">
											<textarea class="materialize-textarea"></textarea>
											<label>Descriptions:</label>
										</div>
										<div class="input-field col s12">
											<input type="text" class="validate" required="">
											<label>Page target link:</label>
										</div>
										<div class="file-field input-field col s12">
											<div class="btn admin-upload-btn">
												<span>File</span>
												<input type="file">
											</div>
											<div class="file-path-wrapper">
												<input class="file-path validate" type="text" placeholder="mega menu background image">
											</div>
										</div>
									</div> 
									<h4>Mega Menu 2:</h4>
									<div class="row">
										<div class="input-field col s12">
											<input type="text" class="validate" required="">
											<label>Title:</label>
										</div>
										<div class="input-field col s12">
											<textarea class="materialize-textarea"></textarea>
											<label>Descriptions:</label>
										</div>
										<div class="input-field col s12">
											<input type="text" class="validate" required="">
											<label>Page target link:</label>
										</div>
										<div class="file-field input-field col s12">
											<div class="btn admin-upload-btn">
												<span>File</span>
												<input type="file">
											</div>
											<div class="file-path-wrapper">
												<input class="file-path validate" type="text" placeholder="mega menu background image">
											</div>
										</div>
									</div> 
									<h4>Mega Menu 3:</h4>
									<div class="row">
										<div class="input-field col s12">
											<input type="text" class="validate" required="">
											<label>Title:</label>
										</div>
										<div class="input-field col s12">
											<textarea class="materialize-textarea"></textarea>
											<label>Descriptions:</label>
										</div>
										<div class="input-field col s12">
											<input type="text" class="validate" required="">
											<label>Page target link:</label>
										</div>
										<div class="file-field input-field col s12">
											<div class="btn admin-upload-btn">
												<span>File</span>
												<input type="file">
											</div>
											<div class="file-path-wrapper">
												<input class="file-path validate" type="text" placeholder="mega menu background image">
											</div>
										</div>
									</div> 
									<h4>Mega Menu 4:</h4>
									<div class="row">
										<div class="input-field col s12">
											<input type="text" class="validate" required="">
											<label>Title:</label>
										</div>
										<div class="input-field col s12">
											<textarea class="materialize-textarea"></textarea>
											<label>Descriptions:</label>
										</div>
										<div class="input-field col s12">
											<input type="text" class="validate" required="">
											<label>Page target link:</label>
										</div>
										<div class="file-field input-field col s12">
											<div class="btn admin-upload-btn">
												<span>File</span>
												<input type="file">
											</div>
											<div class="file-path-wrapper">
												<input class="file-path validate" type="text" placeholder="mega menu background image">
											</div>
										</div>
									</div> 
									
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <i class="waves-effect waves-light btn-large waves-input-wrapper" style=""><input type="submit" class="waves-button-input" value="Submit"></i>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

{% endblock %}