{%  extends 'includes/admin-header.html'%}
{%load staticfiles%}
{%block title_block%}Admin Page{%endblock%}
{% block body %}
            <!--== BODY INNER CONTAINER ==-->
            <div class="sb2-2">
                <!--== breadcrumbs ==-->
                <div class="sb2-2-2">
                    <ul>
                        <li><a href="/"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
                        </li>
                        <li class="active-bre"><a href="#"> Quick link</a>
                        </li>
                        <li class="page-back"><a href="/"><i class="fa fa-backward" aria-hidden="true"></i> Back</a>
                        </li>
                    </ul>
                </div>

                <!--== User Details ==-->
                <div class="sb2-2-3">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="box-inn-sp admin-form">
                                <div class="inn-title">
                                    <h4>Quick link</h4>
                                    <p>Airtport Hotels The Right Way To Start A Short Break Holiday</p>
                                </div>
                                <div class="tab-inn">
                                    <form>
										<h4>Quick link 1:</h4>
                                        <div class="row ad-p-lr ad-mar-bot-20">
                                            <div class="input-field col s12">
                                                <input type="text" value="Academy" class="validate">
                                                <label class="">Text</label>
                                            </div>
                                            <div class="input-field col s12">
                                                <input type="text" value="http://rn53themes.net/themes/demo/education-master/admission.html" class="validate">
                                                <label>Page URL</label>
                                            </div>
											<div class="file-field input-field col s12">
												<div class="btn admin-upload-btn">
													<span>File</span>
													<input type="file" multiple="">
												</div>
												<div class="file-path-wrapper">
													<input class="file-path validate" type="text" placeholder="Slider image">
												</div>
											</div>
											<div class="input-field col s12">
												<select>
												  <option value="" disabled selected>Select Status</option>
												  <option value="1">Active</option>
												  <option value="2">De-Active</option>
												  <option value="3">Delete</option>
												</select>
											</div>
                                        </div>
										<h4>Quick link 2:</h4>
                                        <div class="row ad-p-lr ad-mar-bot-20">
                                            <div class="input-field col s12">
                                                <input type="text" value="Admission" class="validate">
                                                <label class="">Text</label>
                                            </div>
                                            <div class="input-field col s12">
                                                <input type="text" value="http://rn53themes.net/themes/demo/education-master/admission.html" class="validate">
                                                <label>Page URL</label>
                                            </div>
											<div class="file-field input-field col s12">
												<div class="btn admin-upload-btn">
													<span>File</span>
													<input type="file" multiple="">
												</div>
												<div class="file-path-wrapper">
													<input class="file-path validate" type="text" placeholder="Slider image">
												</div>
											</div>
											<div class="input-field col s12">
												<select>
												  <option value="" disabled selected>Select Status</option>
												  <option value="1">Active</option>
												  <option value="2">De-Active</option>
												  <option value="3">Delete</option>
												</select>
											</div>
                                        </div>
										<h4>Quick link 3:</h4>
                                        <div class="row ad-p-lr ad-mar-bot-20">
                                            <div class="input-field col s12">
                                                <input type="text" value="Courses" class="validate">
                                                <label class="">Text</label>
                                            </div>
                                            <div class="input-field col s12">
                                                <input type="text" value="http://rn53themes.net/themes/demo/education-master/admission.html" class="validate">
                                                <label>Page URL</label>
                                            </div>
											<div class="file-field input-field col s12">
												<div class="btn admin-upload-btn">
													<span>File</span>
													<input type="file" multiple="">
												</div>
												<div class="file-path-wrapper">
													<input class="file-path validate" type="text" placeholder="Slider image">
												</div>
											</div>
											<div class="input-field col s12">
												<select>
												  <option value="" disabled selected>Select Status</option>
												  <option value="1">Active</option>
												  <option value="2">De-Active</option>
												  <option value="3">Delete</option>
												</select>
											</div>
                                        </div>
										<h4>Quick link 4:</h4>
                                        <div class="row ad-p-lr ad-mar-bot-20">
                                            <div class="input-field col s12">
                                                <input type="text" value="Seminar" class="validate">
                                                <label class="">Text</label>
                                            </div>
                                            <div class="input-field col s12">
                                                <input type="text" value="http://rn53themes.net/themes/demo/education-master/admission.html" class="validate">
                                                <label>Page URL</label>
                                            </div>
											<div class="file-field input-field col s12">
												<div class="btn admin-upload-btn">
													<span>File</span>
													<input type="file" multiple="">
												</div>
												<div class="file-path-wrapper">
													<input class="file-path validate" type="text" placeholder="Slider image">
												</div>
											</div>
											<div class="input-field col s12">
												<select>
												  <option value="" disabled selected>Select Status</option>
												  <option value="1">Active</option>
												  <option value="2">De-Active</option>
												  <option value="3">Delete</option>
												</select>
											</div>
                                            <div class="input-field col s12">
                                                <i class="waves-effect waves-light btn-large waves-input-wrapper" style=""><input type="submit" class="waves-button-input" value="Submit"></i>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

{% endblock %}